In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Data/insurance_fraud_data.csv')

print(f"Initial shape: {df.shape}")
df.head()

Initial shape: (12002, 29)

,claim_number,age_of_driver,gender,marital_status,safety_rating,annual_income,high_education,address_change,property_status,zip_code,...,vehicle_category,vehicle_price,vehicle_color,total_claim,injury_claim,policy deductible,annual premium,days open,form defects,fraud reported
0,414724,39,M,1,73,58612.8,1,0,Own,50048,...,Large,24360.59273,silver,26633.27819,5196.552552,1000,1406.91,8.641800,5,N
1,269568,33,M,1,72,35936.0,0,1,Own,50006,...,Medium,23457.35282,black,26707.46021,7957.267641,2000,1415.74,10.009761,5,Y
2,974592,31,M,1,76,84940.8,1,1,Own,15021,...,Medium,19752.42523,gray,15279.38583,3014.110884,1000,1199.44,8.264032,3,N
3,995328,53,F,1,93,73526.4,0,1,Own,85027,...,Medium,32910.34224,red,20909.27772,5671.599025,500,708.64,9.235943,4,N
4,1140480,41,M,1,87,59403.2,1,0,Own,80046,...,Medium,28570.37675,red,34493.97997,4064.569489,1000,1187.96,10.259629,2,N

In [4]:
# Global Replacement of noise characters
df.replace(['*', '?', 'NA'], np.nan, inplace=True)

In [5]:
# List of all columns that should be strictly 0 or 1
binary_columns = [
    'marital_status', 
    'high_education', 
    'address_change', 
    'witness_present', 
    'police_report'
]

for col in binary_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    
    col_mode = df[col].mode()[0]
    df[col] = df[col].fillna(col_mode).astype(int)

In [6]:
#  Standardize text: Remove spaces and make uppercase (M, F)
df['gender'] = df['gender'].str.strip().str.upper()

#  Map to full words for better Dashboard labels
df['gender'] = df['gender'].map({'M': 'Male', 'F': 'Female'})

#  Handle missing values: 
gender_mode = df['gender'].mode()[0]
df['gender'] = df['gender'].fillna(gender_mode)

In [ ]:
df['fraud_reported'] = (
    df['fraud reported']
    .str.strip()          
    .str.upper()          
    .map({'Y': 1, 'N': 0})
)

# Fill unexpected/missing values with the mode 
fraud_mode = df['fraud_reported'].mode()[0]
df['fraud_reported'] = df['fraud_reported'].fillna(fraud_mode).astype(int)

# Drop original column
df = df.drop(columns=['fraud reported'])

In [8]:
# General Numeric Cleaning & Imputation
numeric_cols = ['annual_income', 'policy deductible', 'annual premium', 
                'liab_prct', 'past_num_of_claims', 'age_of_driver', 
                'total_claim', 'injury_claim', 'vehicle_price']

for col in numeric_cols:
    if df[col].dtype == 'object':
        df[col] = df[col].astype(str).str.replace(r'[$,]', '', regex=True)
    df[col] = pd.to_numeric(df[col], errors='coerce')
    if df[col].isnull().sum() > 0:
        df[col] = df[col].fillna(df[col].median())

In [9]:
# LOGICAL FIXES & DATES
df['annual_income'] = df['annual_income'].abs()
df['age_of_driver'] = df['age_of_driver'].abs().clip(18, 100)
df['claim_date'] = pd.to_datetime(df['claim_date'], errors='coerce').ffill()
df['claim_year'] = df['claim_date'].dt.year
df['claim_month'] = df['claim_date'].dt.month_name()

In [10]:
df.describe()

,claim_number,age_of_driver,marital_status,safety_rating,annual_income,high_education,address_change,zip_code,claim_date,past_num_of_claims,...,police_report,vehicle_price,total_claim,injury_claim,policy deductible,annual premium,days open,form defects,fraud_reported,claim_year
count,1.200200e+04,12002.000000,12002.000000,12002.000000,12002.000000,12002.000000,12002.000000,12002.000000,12002,12002.000000,...,12002.000000,12002.000000,12002.000000,12002.000000,12002.000000,12002.000000,12002.000000,12002.000000,12002.000000,12002.000000
mean,3.119801e+08,43.489252,0.715214,73.702966,63658.228567,0.698134,0.576737,49762.387269,2023-12-29 18:31:29.685052416,0.494918,...,0.601066,22925.335594,22861.534958,5037.353960,1011.039827,1268.140663,8.799198,3.969588,0.245876,2023.492418
min,1.866240e+05,19.000000,0.000000,2.000000,1.000000,0.000000,0.000000,0.000000,2023-01-01 00:00:00,0.000000,...,0.000000,2261.507903,2583.428985,471.363743,500.000000,433.330000,2.303305,0.000000,0.000000,2023.000000
25%,1.561887e+08,35.000000,0.000000,66.000000,56899.200000,0.000000,0.000000,20111.000000,2023-06-26 00:00:00,0.000000,...,0.000000,14087.559950,13832.784382,3373.309069,500.000000,1082.360000,8.025550,3.000000,0.000000,2023.000000
50%,3.121908e+08,43.000000,1.000000,76.000000,60899.200000,1.000000,1.000000,50027.000000,2023-12-26 00:00:00,0.000000,...,1.000000,20642.029325,20508.293695,4678.122607,1000.000000,1239.060000,9.268787,4.000000,0.000000,2023.000000
75%,4.677938e+08,51.000000,1.000000,85.000000,64697.600000,1.000000,1.000000,80036.750000,2024-07-01 00:00:00,1.000000,...,1.000000,29293.641235,29205.553660,6305.066147,1000.000000,1383.490000,10.307928,5.000000,0.000000,2024.000000
max,6.220385e+08,100.000000,1.000000,100.000000,257313.600000,1.000000,1.000000,85083.000000,2024-12-31 00:00:00,6.000000,...,1.000000,106991.684500,101818.964200,29763.669890,2000.000000,2047.590000,15.177169,13.000000,1.000000,2024.000000
std,1.795997e+08,11.821440,0.451331,15.378967,17289.697073,0.459087,0.494097,29133.180765,NaN,0.956002,...,0.489699,12108.888412,12197.334761,2316.870095,562.099581,231.670671,2.413533,1.986915,0.430623,0.499963

In [12]:
df.columns = df.columns.str.replace(' ', '_').str.lower()
df.to_csv('Data/insurance_fraud_data_cleaned.csv', index=False)

In [ ]:
# Display unique values for each column in the dataset to verify cleaning
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Column: {column}")
    print(f"Unique Values: {unique_values}")
    print("-")

Column: claim_number
Unique Values: [   414724    269568    974592 ... 621872640 621914112 621955584]
-
Column: age_of_driver
Unique Values: [ 39  33  31  53  41  42  50  30  49  70  28  38  23  55  44  37  40  35
  54  27  62  34  47  32  46  57  56  51  45  52  58  63  48  80  43  65
  68  26  77  24  22  29  59  60  36  61  73  25  64  81  86  75  66  21
  69  71  67  74  79  82  78  96  72  76  19  93  88  85  20  89  83  84
 100  87  99  92]
-
Column: gender
Unique Values: ['Male' 'Female']
-
Column: marital_status
Unique Values: [1 0]
-
Column: safety_rating
Unique Values: [ 73  72  76  93  87  68  89  79  57  58  49  78  92  82  83  65  77  63
  36  90  94  44  75  45  66  64  70  86  74  80  32  62  69  88  84  41
  91  30  52  50  71  85  59  98  81  60  42  67  55  95  51   7  35  54
  61  17  56  43  53  10  99  40  38  47  26  20  96  33  34  31  37  39
  18  16  97  21  46  27  22  25  29  15  48  28  24  13  23 100  12   9
   8  19  11   4   5  14   2   3]
-
Column: annual_income
Unique Values: [58612.8 35936.  84940.8 ... 31257.6 67748.8 39832. ]
-
Column: high_education
Unique Values: [1 0]
-
Column: address_change
Unique Values: [0 1]
-
Column: property_status
Unique Values: ['Own' 'Rent']
-
Column: zip_code
Unique Values: [50048 50006 15021 85027 80046 80042 20151 80015 50041 20158 15057 20140
 50009 15015 80107 85001 80022 50047 80003 80005 50023 85072 50021 20106
 85077 50043 50002 20137 80010 15025 85007 20148 20122 85006 20117 80002
 85035 20163 15053 85028 20107 20165 20104 50035 20156 15019 80109 80034
 85067 80104 15047 85054 50032 20144 50007     0 15045 80024 80021 15001
 15012 85068 15056 85069 80011 80013 50049 85005 20142 20109 50044 20119
 50038 20152 50027 20160 80105 15042 85055 85050 50036 85051 80001 85073
 85030 80014 50003 15010 50055 20132 20164 85015 85003 50012 85046 20124
 85017 85041 85013 15030 20101 20113 80103 85079 80016 15050 50039 20112
 50054 85025 20129 80030 20105 20153 85074 85032 85016 15004 20146 80025
 50034 50058 80035 85029 15009 50008 50011 85078 85020 15033 80038 85018
 15031 85038 85021 50005 20115 50001 15034 20111 80110 85080 50052 85063
 20147 20120 15055 80045 85008 85012 20135 80023 20149 85045 15022 15046
 20136 85034 15024 80020 15051 20134 20102 20128 85042 85066 50026 50051
 50020 20139 20155 15018 85002 15035 85064 20110 50037 15049 50013 80017
 15014 80101 80106 80028 80040 15017 80037 80033 85024 50046 85062 80026
 80006 85060 15044 15038 15027 80004 20130 80047 50022 20103 85065 80031
 50057 80007 50056 85048 85026 85037 15052 80041 85004 50025 15060 20116
 85019 20118 15032 85031 85071 80012 20131 85040 85082 80044 85075 15003
 85010 15006 85083 50033 50028 85044 15054 85036 85023 85039 20138 80019
 80027 15007 20143 50014 15020 15028 15005 85061 80018 50059 20141 15026
 50040 85043 50031 85011 50010 85070 15043 20121 20159 15037 85053 50042
 80108 80036 80102 50029 15059 85076 85009 85022 85014 20108 50050 85033]
-
Column: claim_date
Unique Values: <DatetimeArray>
['2023-08-12 00:00:00', '2024-10-18 00:00:00', '2023-12-23 00:00:00',
 '2024-02-25 00:00:00', '2024-09-04 00:00:00', '2024-05-26 00:00:00',
 '2024-05-23 00:00:00', '2023-08-31 00:00:00', '2024-09-27 00:00:00',
 '2023-07-24 00:00:00',
 ...
 '2024-05-21 00:00:00', '2024-04-20 00:00:00', '2024-01-27 00:00:00',
 '2024-02-14 00:00:00', '2024-07-11 00:00:00', '2023-02-13 00:00:00',
 '2024-04-29 00:00:00', '2023-09-14 00:00:00', '2024-01-28 00:00:00',
 '2024-01-19 00:00:00']
Length: 682, dtype: datetime64[ns]
-
Column: claim_day_of_week
Unique Values: ['Saturday' 'Friday' 'Sunday' 'Wednesday' 'Thursday' 'Monday' 'Tuesday'
 nan]
-
Column: accident_site
Unique Values: ['Highway' 'Local' 'Parking Lot']
-
Column: past_num_of_claims
Unique Values: [0 1 2 3 5 4 6]
-
Column: witness_present
Unique Values: [0 1]
-
Column: liab_prct
Unique Values: [ 25  45 100  84  10  77  61  18  50  72  80  69  86  51  93  32  71  76
   0  94  81  57  28  34  64  27  97  99   3   1  24  21  96  14  20  44
  83   2  56   9  92  73  52   6  22  68  41  43  90  74  36  58  17  26
  16  35  15  89  78  91  53   4  95  38  79  62  19  82  30  49  47   5
  98  29  48  39  12  33  55  65  63  66  70  54  67  87  46  60   8  13
   7  23  37  42  85  75  31  59  11  88  40]
-
Column: channel
Unique Values: ['Phone' 'Online' 'Broker']
-
Column: police_report
Unique Values: [0 1]
-
Column: age_of_vehicle
Unique Values: ['8' '2' '7' '1' '6' '4' '10' '5' '3' '9' '12' '11' '0' '13' '14' nan]
-
Column: vehicle_category
Unique Values: ['Large' 'Medium' 'Compact']
-
Column: vehicle_price
Unique Values: [24360.59273  23457.35282  19752.42523  ... 20231.72363  21900.03192
  8291.858346]
-
Column: vehicle_color
Unique Values: ['silver' 'black' 'gray' 'red' 'white' 'blue' 'other']
-
Column: total_claim
Unique Values: [26633.27819 26707.46021 15279.38583 ... 27015.87981 16122.91954
 26825.84418]
-
Column: injury_claim
Unique Values: [5196.552552 7957.267641 3014.110884 ... 7475.901535 3838.951645
 5236.564274]
-
Column: policy_deductible
Unique Values: [1000 2000  500]
-
Column: annual_premium
Unique Values: [1406.91 1415.74 1199.44  708.64 1187.96  972.18 1104.5  1088.34  988.45
 1155.55 1451.62 1737.66  538.17 1273.7  1848.81 1362.87 1239.22 1105.49
 1425.54 1038.09 1489.24  769.95 1514.72 1612.43 1136.83 1322.78 1483.25
 1463.82 1497.35 1495.1  1338.5  1074.07 1103.58  964.79 1439.34 1198.15
 1398.51 1355.08 1158.03 1372.27 1275.39 1344.36 1203.24 1152.4  1142.62
 1229.16 1706.79  885.08 1046.58 1382.88 1141.35  986.53 1722.95 1281.07
 1011.92 1301.72  767.14 1538.26 1314.6  1515.18 2047.59 1083.72 1371.78
  932.14  773.99 1459.97  865.33 1134.08 1304.67 1035.79  694.45 1004.63
 1194.   1248.25 1338.54 1275.81  972.47  806.31  947.75 1018.73  915.29
 1086.48  765.64 1327.41  903.32  889.13  995.56 1379.93 1554.64 1377.94
 1259.02 1399.27 1365.46 1595.07 1127.89 1829.63  904.7  1216.56  966.26
 1203.17 1212.12 1097.57  922.67 1195.01 1102.29 1527.95 1366.39 1403.9
 1554.86 1724.46 1241.04 1757.21  802.24 1090.03 1082.72 1191.8  1459.93
 1398.46 1161.91 1117.17 1306.78 1538.6  1354.5  1346.27  949.44  977.4
 1187.53 1075.41 1575.86 1056.71 1313.64 1836.02 1453.92  914.22 1096.79
 1078.22 1117.42 1152.12 1441.21 1861.43 1570.86  791.47 1047.06 1226.78
 1280.9  1472.77 1532.8   862.92 1486.04  870.55 1344.56 1168.8  1164.97
  796.35 1251.16 1526.11 1028.44 1009.37 1093.07 1325.44 1017.18 1526.61
 1496.44 1421.59 1433.24 1135.43 1118.76 1588.22 1537.07 1558.86  973.5
 1153.54 1677.26  989.24 1233.85 1435.09 1733.56 1533.07 1358.03 1008.79
 1141.1  1397.   1664.66 1063.67 1339.39  830.31 1230.76 1255.02  836.11
 1124.69 1609.11 1295.87 1161.03 1441.06 1097.99 1616.26  968.46 1537.33
  912.3  1312.22  895.14 1064.49  959.83 1767.02 1223.39 1539.06  566.11
 1216.24 1484.72 1434.27 1218.56 1351.72  817.28 1294.04  998.19 1681.01
 1330.39 1122.95  935.77 1192.04  838.02 1173.21 1129.23 1509.04 1267.4
 1698.51 1969.63 1427.46  995.55  484.67 1358.2  1232.79 1264.99 1328.18
 1425.79 1615.14 1236.5  1306.   1390.72 1694.09 1935.85 1550.53 1363.59
 1209.63 1537.13 1055.6  1155.97 1518.54 1236.32 1265.84 1106.84  974.84
 1257.04  719.52 1243.68 1189.04 1375.29 1387.51 1166.62 1212.07 1482.57
  954.18 1022.46 1277.12 1406.52 1558.29 1305.26 1051.67 1387.35 1851.78
 1253.44 1188.45 1294.41 1459.5  1367.99 1594.37 1391.63 1588.26 1140.91
  912.29 1082.1  1175.07 1272.46 1648.   1381.14 1198.44 1516.34 1115.81
 1693.83 1054.92 1333.97  958.3  1112.04 1042.56 1263.48 1006.99 1066.7
 1585.54 1246.03 1007.   1200.33  871.46 1533.71 1188.51  840.95 1503.21
  944.03 1672.88 1248.05 1280.88 1310.8  1060.74  988.93 1564.43 1436.79
  766.19  951.56 1361.45 1453.61  722.66 1093.83 1722.5  1235.14 1383.49
 1200.09 1331.94 1347.04 1356.92 1101.83 1354.2  1246.68 1622.67 1726.91
 1232.57 1324.78 1239.06  999.43 1078.65 1082.36 1583.91 1131.4  1374.22
 1291.7  1262.08 1475.93 1240.47 1201.41 1414.74 1226.83 1326.44 1125.37
 1222.75 1040.75 1281.27 1238.62 1320.75 1046.71 1053.04 1402.75 1587.96
 1448.84 1079.92 1447.78  897.89  920.3  1440.68 1362.64 1019.44 1242.96
 1053.02 1072.62 1340.56 1264.77 1443.32 1629.94 1401.2  1307.74 1134.91
 1312.75 1338.55 1286.44 1616.58 1611.83 1724.09 1437.33 1238.89 1384.64
 1185.78 1260.32 1209.41 1464.73  969.88 1269.64 1628.   1134.68 1338.4
  845.16 1255.68 1793.16 1396.83 1480.79  714.03 1601.47 1595.28 1390.29
 1304.35 1326.98  854.58 1070.63 1187.01 1586.41 1170.53 1472.43 1275.62
 1256.2   945.73 1392.39 1022.42 1320.39 1106.77  671.92 1546.01 1039.55
 1081.17  987.42 1048.39 1074.47  625.08 1133.27 1439.9  1358.91 1148.58
 1422.95 1220.86 1556.17 1393.34 1667.83 1497.41  803.36 1865.83  840.81
 1471.44 1300.68  985.97 1194.83 1423.34 1042.25 1156.19 1493.5  1155.38
 1274.63 1508.12  936.19 1463.95 1037.32 1231.01 1730.49 1370.92 1405.71
 1178.61 1556.31 1255.35  795.31 1143.46 1035.99  911.53 1319.97  915.41
 1517.54 1185.44 1177.57 1479.48 1827.38 1685.69  763.67 1004.14 1429.96
 1433.42 1197.22 1413.14 1351.1  1333.35 1137.03 1442.99 1315.68 1253.12
 1137.16 1215.36  936.61 1301.13 1475.73  875.15 1268.79  883.31 1266.92
 1322.1   848.07  954.16 1337.28 1415.68 1334.15 1222.48 1081.08 1454.43
 1123.87 1245.89 1326.62 1073.83 1530.52 1393.57 1276.57 1082.49 1470.06
  870.63  795.23 1168.2   993.51 1641.73  835.02 1061.33 1279.08 1055.53
  895.83 1632.93 1405.99 1307.11  976.67 1340.43 1267.81 1234.2  1318.06
  873.64 1318.24 1515.3  1075.18 1690.27 1352.83 1148.73  969.5  1474.17
 1427.14 1141.62 1207.36 1337.56 1298.91 1059.52 1124.38 1110.37 1269.76
 1167.3  1625.45 1394.43 1053.24 1302.4  1588.55 1399.26 1352.31 1139.
 1397.67  823.17  965.13 1922.84 1624.82 1277.25 1348.83 1221.22  968.74
 1220.71  990.98 1384.51  847.03 1000.06 1197.71 1332.07 1166.54 1495.06
 1337.92 1362.29 1241.97 1124.6  1226.49 1254.18 1712.68 1097.71 1363.77
 1054.83 1057.77 1488.02 1086.21 1367.68 1215.85 1191.19 1594.45 1463.07
 1734.09 1411.43 1512.58 1153.35 1042.26 1235.1   768.91 1451.54 1620.89
 1048.46 1217.69 1279.13  924.72 1649.18 1451.01  978.46 1198.34 1003.23
 1212.   1693.63 1138.42 1219.04 1506.21 1058.21 1608.34 1728.56 1518.46
 1540.19  965.21 1278.75 1532.47 1297.75  433.33 1025.54 1238.65 1050.76
 1711.72 1153.49 1281.25 1342.8  1483.91 1665.45  653.66 1080.13 1346.18
 1589.54 1251.65 1083.01  974.59 1399.85 1219.27 1411.3  1006.77 1422.36
 1348.32 1315.56 1407.01 1388.58 1310.76  782.23 1366.9  1090.65 1326.
 1416.24 1097.64 1400.74 1155.53 1386.93 1239.55 1366.42 1247.87 1316.63
 1372.18 1447.77 1454.42 1603.42 1252.08 1347.92 1313.33 1371.88 1061.98
  894.4   956.69 1123.89 1085.03  988.29  929.7  1243.84 1030.95 1285.03
 1573.93 1609.67 1618.65 1342.02  994.74 1050.24 1313.51  927.23  736.07
  974.16  973.8  1464.03  617.11 1161.31 1091.73 1209.07 1342.72 1141.71
 1118.58 1117.04 1257.83 1242.02 1075.71 1245.61 1462.76 1455.65 1140.31
 1330.46 1190.6   972.5  1101.51 1523.17  984.45 1257.   1434.51 1412.31
 1021.9  1282.93 1181.46 1442.27 1276.43 1111.72  814.96 1115.27 1175.7
  793.15  942.51 1335.13 1178.95 1008.38 1402.78 1437.88 1482.14 1171.75
 1353.33 1175.51 1340.71 1376.16 1217.84 1567.37 1294.93 1575.74 1233.96
 1012.78  951.46 1878.44 1418.5  1551.61 1331.69 1377.04 1237.88 1525.86
  770.76 1132.74 1173.37 1188.28  876.88 1143.95 1409.06  916.13 1191.5
 1474.66 1193.45 1437.53 1304.83 1232.72 1800.76 1559.34 1137.02 1281.72
 1270.02 1383.13 1290.74 1216.68 1555.94 1570.77 1099.95 1292.3  1221.17
 1927.87  978.27 1221.14 1255.62  999.52 1380.89 1010.77 1205.86 1268.35
 1500.04 1231.25 1231.98 1005.47 1108.97 1317.97  900.02 1744.64 1260.56
 1021.14 1285.09 1757.87 1430.8  1192.27 1163.83 1003.15 1631.1  1252.48
  979.73 1389.86 1448.54  995.7  1298.85 1276.73 1202.28 1151.39  709.14
 1202.75  991.39  984.02 1354.83 1119.29 1555.52 1450.98 1366.6  1230.69
 1307.68 1520.78 1464.42 1543.68 1390.89 1398.94 1238.92 1045.12 1007.28
 1189.98 1576.41 1172.82  671.01 1373.21 1625.65 1295.63 1459.96 1219.94
 1285.01  988.06 1740.57 1540.91 1381.88 1446.98  948.1  1471.24 1157.97
 1060.88 1524.45 1203.81 1484.48 1581.27 1221.41 1114.68 1234.69  964.92
 1389.59 1353.53 1090.32 1780.67 1395.77 1265.72 1274.7  1655.79  990.11
 1422.21  914.85 1123.84 1114.29  664.86 1119.23 1422.78 1212.75  976.37
 1124.59 1569.33 1359.36 1607.36 1453.95 1124.47  878.19 1145.85 1261.28
 1592.41 1362.31  919.37 1377.23 1561.41 1457.21 1128.71 1302.34 1467.76
 1124.43 1319.81 1482.53 1133.85 1562.8  1017.97 1174.14 1299.18 1469.75
 1140.15 1310.71 1616.65  855.14 1568.47  828.42 1111.17  989.97 1114.23
 1347.31 1687.53 1183.48 1173.25 1361.16 1422.56 1143.06 1270.55  785.82
 1508.9  1389.13 1304.46 1257.36 1524.18 1395.58 1452.27 1578.54 1488.26
 1096.39 1193.4  1023.11 1653.32 1396.43 1521.55 1034.27 1396.89  982.22
 1311.3  1388.62 1132.47 1896.91 1285.42 1083.64 1270.29 1459.99 1142.48
 1125.4  1468.82 1412.76 1144.3  1281.43 1101.85  979.26  920.81  922.85
 1107.59 1340.24  951.27 1341.24 1055.09 1169.62 1270.21  809.11 1457.65
 1041.36 1013.61 1206.26 1328.26 1250.08  982.7  1412.06 1416.08 1356.64
 1387.7  1107.07 1074.99 1052.85 1343.   1441.6  1368.57  862.19 1863.04
 1181.64]
-
Column: days_open
Unique Values: [ 8.64180049 10.00976115  8.26403185 ...  8.38609361 10.31486533
  9.11698059]
-
Column: form_defects
Unique Values: [ 5  3  4  2  8  9  7  6  0  1 11 10 12 13]
-
Column: fraud_reported
Unique Values: [0 1]
-
Column: claim_year
Unique Values: [2023 2024]
-
Column: claim_month
Unique Values: ['August' 'October' 'December' 'February' 'September' 'May' 'July'
 'November' 'June' 'March' 'January' 'April']
-